
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.register-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.register-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.name-group {
    display: flex;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.terms {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
input[type="checkbox"] {
    margin-top: 5px;
    margin-right: 4px;
    width: 15px; 
    height: 15px; 
    accent-color: blue; 
}

.terms a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.terms a:hover {
    text-decoration: underline;
}

.register-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #0056b3;
}

.login-link {
    font-size: 14px;
    margin-top: 15px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
